a{
    background-color: red;
    color: aliceblue;
    width: 60px;
    height: 32px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
  } 
  a:hover{
    background-color: gold;
  }
  body {
    background-color: pink;
  }